.page-1 {
    height: 50vh;
    width: 100%;
    background-image: url("../../image/background-kompetisi.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-page-1 {
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Poppins';
}

.bg-page-1 img {
    width: 100%;
    height: 100%;
}

.page-1 h1 {
    font-size: 42pt;
    font-weight: bold;
    margin-bottom: 30px;
}

.page-1 h5 {
    font-size: 14pt;
    font-weight: 300;
}

.page-1 h6 {
    font-size: 12pt;
    font-weight: 400!important;
    width: 41%;
    margin: auto;
}

.page-2 {
    height: min-content;
    background-image: url("../../image/benang-kompetisi.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw;
}

.page-2 h3{
    margin-left: 7%;
    /* margin-top: 4%; */
    font-weight: bold;
}

.list-lomba {
    margin-top: 30pt;
    height: 120%;
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
    flex-wrap: wrap;
}

.card-lomba{
    /* margin: 20pt; */
    /* margin: px; */
    flex: 1 0 33%;
    justify-content: center;
    align-items: center;
    height: min-content;
}

.mini-lomba:hover{
    border-radius: 25px;
    background-color: #F1F1F1;
    -webkit-transition-duration: 0.5s;
}

.mini-lomba {
    height: min-content;
    padding: 10px;
    width: 340px;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mini-lomba h5 {
    margin-top: 20pt;
}

.page-3 {
    background-color: #F4F4F4;
    max-width: 100%;
}

.text-kiri {
    max-width: 500px;
    height: min-content;
    text-align: left;
    margin-left: auto;
}

/* .foto-hadroh {
    margin: auto;
    width: 50%;
    height: 50%;
} */

.bungkus-kiri{
    width: 50%;
    height: 50%;
}

.page-4 {
    text-align: center;
}

.dah-siap h3 {
    font-weight: bold;
    margin: auto;
    margin-bottom: 30pt;
}

.bungkus-quotes {
    display: flex;
    margin-top: 40pt;
    margin-bottom: 40pt;
}

.bungkus-quotes h5 {
    width: 50%;
}

.elips-kiri {
    margin-left: auto;
}

.elips-kanan {
    margin-right: auto;
}

.carousel{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; 
}

.carousel-card img{
    margin-top: 40pt;
}

.carousel-card h4 {
    margin-bottom: auto;
}
.slide > .row{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.slide > .row > .col-auto {
    display: inline-block;
  }

.card-box {
    margin: 25px;
    width: 300px;
    height: 300px;
    background-color: #F9F9F9;
    box-shadow: 0 5px 0 0 rgba(134, 113, 113, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
}

@media(max-width: 1000px){

}

@media(max-width: 1000px){

}

@media(max-width: 1000px){

}