/* BACKGROUND */

.half-elips {
    position: absolute;
    left: -10px;
    top: 368px;
}

.benang-atas {
    position: absolute;
    left: -92px;
    top: 321px;
    overflow: hidden;
}

.telor3 {
    position: absolute;
    left: 807px;
    top: 141.04px;
}

.telor1_kiri {
    position: absolute;
    left: 300px;
    top: 805px;
}

.telor1_kanan {
    position: absolute;
    right: 300px;
    top: 805px;
}

.telor-dalem {
    position: absolute;
    left: -20px;
    top: 923px;
}

.telor-luar {
    position: absolute;
    left: -20px;
    top: 893px;
}

.benang2 {
    position: absolute;
    left: -92.38px;
    top: 689.24px;
}

.ijo-kiri {
    position: absolute;
    left: 13px;
    top: 1358px;
}

.biru-kiri {
    position: absolute;
    left: 13px;
    top: 1488px;
}

.pink-kiri {
    position: absolute;
    left: 39px;
    top: 1599px;
}

.pink-kanan {
    position: absolute;
    right: 39px;
    top: 1354px;
}

.biru-kanan {
    position: absolute;
    right: 13px;
    top: 1437px;
}

.ijo-kanan {
    position: absolute;
    right: 13px;
    top: 1529px;
}

.telor-pink {
    position: absolute;
    left: 1047px;
    top: 2215.29px;
    overflow: hidden;
}

.telor-ijo {
    position: absolute;
    left: 1142px;
    top: 2214.29px;
    overflow: hidden;
}

.telor-kuning {
    position: absolute;
    left: 1237.46px;
    top: 2213.2px;
    overflow: -moz-hidden-unscrollable;
}

/* PRESENT */

.cont {
    margin-top: 30vh;
}

.present-home {
    display: flex;
    flex-direction: row;
    margin-top: 30vh auto;
}

.left-present {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 80%;
    margin: auto;
}

.left-present h4 {
    font-size: 20px;
    line-height: 30px;
    color: #818181;
}

.left-present h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
    color: #262626;
}

.left-present h6 {
    max-width: 35vw;
    font-size: 18px;
    line-height: 27px;
    color: #262626;
}

.foto-atas {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.atas-a {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.atas-b {
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.atas-a img {
    display: block;
    width: 100%;
    padding: 1px;
}

.atas-b img {
    display: block;
    width: 150%;
    padding: 1px;
}

.foto-bawah {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.bawah-a {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.bawah-b {
    display: flex;
    justify-content: flex-start;
    padding: 0;
}

.bawah-a img {
    display: block;
    width: 80%;
    padding: 1px;
}

.bawah-b img {
    display: block;
    width: 130%;
    padding: 1px;
}

/* EKSPLOR */

.eksplor {
    margin: 10vh auto;
    display: flex;
}

.eksplor h1 {
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    color: #262626;
}

.ada-apa {
    display: flex;
    width: 100%;
    margin: auto;
    flex-direction: row;
}

.tile {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.tile img {
    display: block;
    margin: auto;
    padding: 20px;
}

.tile h2 {
    text-align: center;
    font-size: 20px;
    line-height: 23px;
}

.tile p {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

.tile a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.they-said {
    width: 100%;
    margin: 20vh 0;
}

.they-said h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.kata-kata {
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 95%;
    justify-content: space-around;
}

.kata-orang {
    display: flex;
    flex-direction: row;
    width: 45%;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #141F27;
    border-radius: 10px;
}

.foto-orang {
    width: 40%;
}

.foto-orang img {
    margin: auto;
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.perkataan {
    color: #fff;
    width: 50%;
    padding: 10px;
    margin: 5px auto;
}

.perkataan p {
    font-size: 14px;
    line-height: 140.62%;
    align-items: center;
}

.perkataan h4 {
    font-size: 14px;
    line-height: 140.62%;
    font-weight: bold;
    margin-top: 30%;
}

.perkataan h6 {
    font-size: 14px;
    line-height: 140.62%;
}

.tentang {
    display: flex;
    flex-direction: row;
    margin: 10vh;
}

.logo-tentang {
    width: 40%;
    padding: 5px;
}

.logo-tentang img {
    width: 100%;
}

.desc-tentang {
    width: 55%;
}

.desc-tentang h1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    align-items: center;
    color: #262626;
}

.desc-tentang p {
    font-size: 16px;
    margin-top: 7vh;
    line-height: 24px;
    align-items: center;
    color: #262626;
}

.tentang-medsos {
    margin-top: 17vh;
    display: flex;
    order: 3;
    padding: 10px;
    justify-content: space-between;
    width: 120px;
}

.tentang-medsos a {
    color: #262626;
    font-size: 24.55px;
    -webkit-transition-duration: 0.5s;
}

.follow-instagram, .follow-twitter, .follow-youtube {
    color: #262626;
    -webkit-transition-duration: 0.5s;
}

#sponsor-margin img{
    width: 250px;
    margin: 50px;
}

.btn-sponsor {
    margin-top: 1vh;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
  }
  
  .modal-inner {
    position: absolute;
    top: 8%;
    right: 0;
    left: 0;
    width: 1000px;
    padding-bottom: 10px;
    margin: auto;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
  }
  
  .modal-header {
    height: 8px;
    width: 100%;
    margin-bottom: 60px;
    border-radius: 8px 8px 0 0;
    /* background-image: url("https://s3-ap-northeast-1.amazonaws.com/progate/shared/images/lesson/react/modal_bar.svg"); */
  }
  
  .modal-introduction p {
    color: #5876a3;
    width: 384px;
    line-height: 32px;
    text-align: left;
    margin: 36px auto 40px;
  }

  .modal-introduction img{
      height: 19vw;
  }
  
  /* .modal-close-btn {
    font-size: 13px;
    color: #8491a5;
    width: 200px;
    padding: 16px 0;
    border: 0;
    margin: auto;
    background-color: #f0f4f9;
    cursor: pointer;
  } */

  .btn-close {
      width: 150px;
      margin: 5px auto;
  }
  
  .modal-close-btn:hover {
    color: #8491a5;
    background-color: #ccd9ea;
    transition: 0.3s ease-in-out;
  }

/* RESPONSIVE */
@media(min-width: 1201px){
    .tentang-medsos{
        margin-top: 5vh;
    }
}

@media(max-width: 1200px) {
    .telor-pink, .telor-ijo, .telor-kuning, .benang-atas {
        display: none;
    }

    .foto-orang {
        margin: auto;
    }

    .foto-orang img {
        border-radius: 0;
    }
    
    .tentang-medsos{
        margin-top: 5vh;
    }

    .modal-introduction img{
        height: 30vw;
    }

    .modal-inner{
        width: 95vw;
    }
}

@media(max-width: 1100px) {
    .pink-kiri, .pink-kanan, .ijo-kanan, .ijo-kiri, .biru-kanan, .biru-kiri {
        display: none;
    }
}

@media(max-width: 1000px) {
    .telor1_kanan, .telor1_kiri {
        display: none;
    }

    .telor3 {
        display: none;
    }

    .modal-inner {
        width: 80%;
    }

    .modal-introduction img{
        height: 30vw;
    }

    .modal-inner{
        width: 95vw;
    }
}

@media(max-width: 700px) {
    .cont {
        margin-top: 5vh;
    }

    .background-particle {
        display: none;
    }

    .ada-apa, .kata-kata {
        flex-direction: column;
        margin: auto;
        align-items: center;
    }

    .right-present {
        display: none;
    }

    .left-present, .present-home {
        margin: auto;
        align-items: center;
        text-align: center;
    }

    .left-present h1 {
        width: 80vw;
        font-size: 24px;
        line-height: 24px;
    }

    .left-present h6 {
        max-width: 100vw;
        margin-top: 2vh;
        font-size: 20px;
        line-height: 24px;
    }

    .they-said {
        max-width: 90vw;
    }

    .kata-kata {
        padding: 0;
        max-width: 90vw;
    }

    .kata-orang {
        flex-direction: column;
        width: 80vw;
        margin-top: 4vh;
    }

    .perkataan {
        width: 82%;
        text-align: unset;
    }

    .foto-orang {
        margin-top: 4vh;
        width: 50px;
        height: 100px;
    }

    .footer-bottom-right {
        display: none;
    }

    .eksplor {
        max-width: 100vw;
    }

    .tile {
        margin-top: 5vh;
    }

    .col-4 {
        max-width: 70vw;
    }

    .tile img {
        padding: 0;
        width: 50px;
        margin: auto;
    }

    .tile h2 {
        margin-top: 3vh;
        font-weight: bold;
    }

    .tentang {
        flex-direction: column;
        margin: auto;
        text-align: center;
    }

    .logo-tentang {
        margin: auto;
    }

    .desc-tentang {
        margin: auto;
    }

    .tentang-medsos {
        margin: auto;
    }

    .container-foot {
        padding: 0;
    }

    .footer-bottom-left {
        flex-direction: column;
        margin: auto;
        text-align: center;
    }

    footer {
        height: unset;
    }
}