.progressbar {
    height: 3vh;
    width: 80vw;
    margin: auto;
    margin-bottom: 7vh;
}

.progressbar ul li {
    display: inline-block;
    width: 30%;
    text-align: center;
    margin-top: 3vh;
    list-style: none;
    color: #a3a3a3;
}

.process {
    color: #000 !important;
    font-weight: bold
}

.form-lomba {
    margin: 5vh auto;
}

.form-lomba input {
    margin-bottom: 3vh;
}

.cek-follow {
    width: 100%;
}

.btn-next {
    background-color: #032B4B;
    color: #fff;
}

.btn-next:hover {
    color: #fff;
}

.form-lomba a, .form-lomba button {
    margin-top: 5vh;
}

.error-message {
    display: block;
    width: 100%;
}

.card-checkout {
    width: 100%;
    margin-bottom: 5vh;
}

.radio-harga {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-around;
}

.labelRadio {
    align-items: center;
    max-width: 150px;
    display: block;
    font-size: 11px;
    color: #fff;
    background-color: #032B4B;
    align-items: center;

}

.labelRadio:hover {
    background-color: #26608F !important;
    color: #fff;
}

.radio {
    visibility: hidden;
    display: block;
    position: absolute;
    width: 15px;
    margin-right: 10px;
}

.radio:checked + .labelRadio {
    background-color: #26608F !important;
    color: #fff;
}

.form-lomba p {
    margin-top: -15px;
}

@media(max-width: 1200px){
    .labelRadio{
        margin-left: 10px;
    }
}

@media(max-width: 800px) {
    .progressbar ul li {
        /* text-align: left; */
        /* width: 100%; */
        margin-left: 5px;
        margin-left: 5px;
    }

    .progressbar{
        /* margin-top: 20px; */
    }

    .radio-harga {
        flex-direction: column;
        max-width: 50%;
        margin: auto;
    }
    
}