/* Navbar */

.active {
    border-bottom: 2px solid #032B4B;
}

nav {
    padding: 0rem 0rem!important;
    position: sticky;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* .menu-icon{
    display: none;
  } */
  
  .navbar-logo {
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
  }
  
  .nav-link{
    color:#262626;
    padding-left: .1rem;
    padding-right: .1rem;
    margin-left: .75rem;
    margin-right: .75rem;
    margin-top: .5rem;
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: underline;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.2s ease-out;
  }
  
  .logout {
    cursor: pointer;
  }
  
  .nav-menu {
    display: grid;
    grid-template-columns: repeat(10,auto);
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
  }