/* Footer */

footer {
    background-color: #141F27;
    width: 100%;
    height: 300px;
    padding: 50px;
    margin-top: 7vh;
  }
  
  .container-foot {
    display: flex;
    flex-direction: row;
    margin-top: -4vh;
    padding-bottom: 4vh;
  }
  
  .footer-bottom-left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    max-width: 50vw;
  }
  
  .logo-footer {
    max-width: 250px;
    max-height: 250px;
    margin-top: 10vh;
    margin-left: 4vw;
  }

  .logo-footer img {
    max-width: 150px;
    max-height: 150px;
  }
  
  .desc-footer {
    display: block;
    margin-left: 4vw;
    margin-top: 7vh;
    color: #fff;
    max-width: 300pt;
  }
  
  .desc-footer h1 {
    font-size: 24;
    margin-bottom: 0;
  }
  
  .jargon-foot {
    font-size: 14;
  }
  
  .copyright-foot {
    font-size: 14;
  }
  
  .footer-bottom-right {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 50vw;
    color: #fff;
  }
  
  .follow-us {
    color: #fff;
    display: block;
    box-sizing: content-box;
    margin-top: 5vh;
  }

.follow-us i {
    color: #fff;
    font-size: 24px;
    -webkit-transition-duration: 0.5s;
}

.follow-twitter:hover {
    color: #0062fc;
    -webkit-transition-duration: 0.5s;
}

.follow-youtube:hover {
    color: #b2000a;
    -webkit-transition-duration: 0.5s;
}

.follow-instagram:hover {
    color: #a34448;
    -webkit-transition-duration: 0.5s;
}
  
  .follow-us h4 {
    display: block;
    box-sizing: content-box;
    text-align: right;
    padding-right: 4vw;
  }
  
  .bottom-medsos {
    display: flex;
    flex-direction: row;
    order: 3;
    width: 180px;
    padding-left: 37vw;
  }
  
  .bottom-medsos a {
    display: block;
    padding: 0 10px;
  }
  
  .bottom-bar {
    display: flex;
    order: 3;
    flex-direction: row;
    color: #fff;
    /* margin-top: 10vh; */
    padding-top: 5vh;
  }
  
  .bot-link {
    color: #fff;
    padding: 16px;
    text-decoration: none;
    -webkit-transition-duration: 0.5s;
  }

  .bot-link:hover {
      color: #5693f5;
      text-decoration: none;
      -webkit-transition-duration: 0.5s;
  }