.header-acara {
    background-image: url('../../image/bg-acara.png');
    background-color: #d9d9d9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
    width: 100vw;
    padding-top: 5vh;
}

.page-1 {
    height: 65vh;
    width: 100%;
    background-image: url("../../image/bg-acara.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container {
    width: 80vw;
    margin: auto;
    background-image: url("../../image/benang-kompetisi.png");
    background-repeat: repeat-y;
    background-position: center;
    background-size: 100vw;
}

.box-container h1 {
    margin-top: 10vh;
    font-size: 28pt;
    font-weight: lighter;
}

.acara {
    margin: auto;
    width: 50vw;
    color: #fff;
    text-align: center;
}

.acara h5 {
    font-size: 12pt;
}

.acara h1 {
    font-size: 28pt;
}

.acara p {
    font-size: 12pt;
}

.listAcara {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tile-acara {
    display: flex;
    margin-top: 5vh;
    margin-left: 10px;
    margin-right: 10px;
    width: 650px;
    height: 600px;
    flex-direction: column;
    border: #D3D3D3 1px solid;
    border-radius: 1em;
    box-shadow: #d9d9d9 3px 3px;
}

/* BG PER ACARA */

.bg-acara-bedah-buku {
    height: 300px;
    width: 100%;
    background-image: url("../../image/bedahBuku.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.bg-acara-self-dev {
    height: 300px;
    width: 100%;
    background-image: url("../../image/selfDev.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.bg-acara-workshop {
    height: 300px;
    width: 100%;
    background-image: url("../../image/workshop.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.bg-acara-inovasi-teknologi {
    height: 300px;
    width: 100%;
    background-image: url("../../image/inovasi.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.bg-acara {
    height: 300px;
    width: 100%;
    background-color: #d9d9d9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.keterangan {
    height: 400px;
    width: 100%;
    padding: 15px;
}

.keterangan h4 {
    color: #848484;
    font-size: 20px;
}

.keterangan h2 {
    color: #262626;
    font-size: 24px;
    margin-bottom: 10%;
}

.keterangan i {
    font-size: 18px;
}

.keterangan h6 {
    display: inline-block;
    font-size: 18px;
    color: #262626;
    margin-left: 15px;
}

.button-keterangan {
    display: flex;
    margin-top: 10%;
    justify-content: space-between;
}

.keterangan a {
    display: block;
    width: 45%;
}

.bg-ilmu {
    background-color: #f1f9ff;
    margin-top: 10vh;
    width: 100vw;
    padding: 25px;
}

.konten-ilmu {
    display: flex;
    width: 60%;
    margin: auto;
    flex-direction: row;
    padding: 10px;
    justify-content: space-between;
}

.narasi-ilmu {
    width: 45%;
}

.narasi-ilmu h2 {
    font-size: 24px;
    font-weight: bold;
}

.narasi-ilmu p {
    font-size: 20px;
    font-weight: normal;
}

.gambar-ilmu {
    width: 45%;
}

.gambar-ilmu img {
    width: 100%;
}

@media(max-width: 1675px) {
    .tile-acara{
        width: 600px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media(max-width: 1575px) {
    .tile-acara{
        width: 560px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media(max-width: 1400px) {
    .tile-acara {
        width: 450px;
    }
}

@media(max-width: 1000px) {
    .konten-ilmu {
        flex-direction: column-reverse;
        padding: unset;
    }

    .narasi-ilmu {
        margin: auto;
    }

    .gambar-ilmu {
        margin: auto;
    }
}

@media(max-width: 632px) {
    .keterangan{
        height: 300px;
    }
}

@media(max-width: 421px){
    .page-1{
        height: 80vh;
    }

    .konten-ilmu {
        width: 80%;
    }

    .narasi-ilmu {
        margin-top: 2vh;
        width: 90%;
    }

    .narasi-ilmu h2 {
        text-align: center;
    }

    .gambar-ilmu {
        width: 90%;
    }
}