.header-detail-acara {
    background-image: url('../../image/bg-detail-acara.png');
    background-color: #d9d9d9;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px;
    width: 100vw;
}

.konten-header {
    width: 90%;
    margin: auto;
}

.konten-header h5 {
    color: #b7b7b7;
    font-size: 20px;
}

.konten-header h1 {
    color: #ededed;
    font-size: 36px;
    font-weight: bold;
}

.konten-header h6 {
    color: #ededed;
    font-size: 20px;
}

.detailed-acara {
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 10vh auto;
}

.detail-atas {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.penyelenggaraan-box {
    width: 45%;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 1em;
    box-shadow: #b7b7b7 5px 5px;
}

.konten-penyelenggaraan {
    width: 80%;
    margin: auto;
}

.konten-penyelenggaraan h3 {
    display: block;
    border-bottom: 2px solid #000;
    color: #262626;
    font-size: 24px;
    padding-bottom: 8px;
    margin-bottom: 20px;
}

.konten-penyelenggaraan i {
    font-size: 18px;
}

.konten-penyelenggaraan h6 {
    display: inline-block;
    margin-left: 15px;
    font-size: 18px;
    color: #262626;
}

.konten-penyelenggaraan p {
    font-size: 18px;
    color: #262626;
}

.konten-penyelenggaraan a {
    display: block;
    width: 50%;
}

.detail-bawah {
    margin-top: 10vh;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 1em;
    box-shadow: #b7b7b7 5px 5px;
}

.detail-bawah h3 {
    color: #262626;
    font-size: 24px;
}

.detail-bawah p {
    color: #262626;
    font-size: 18px;
}

.list-pembicara {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 5vh;
}

.card-pembicara {
    display: flex;
    width: 300px;
    height: 600px;
    flex-direction: column;
    border: #D3D3D3 1px solid;
    border-radius: 1em;
    box-shadow: #d9d9d9 3px 3px;
}

/* BG PEMBICARA */

.bg-alvi {
    height: 500px;
    width: 100%;
    background-image: url("../../image/alviSyah.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.bg-shofwan {
    height: 500px;
    width: 100%;
    background-image: url("../../image/shofwan.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.bg-radyum {
    height: 500px;
    width: 100%;
    background-image: url("../../image/radyum.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.bg-fahmi {
    height: 500px;
    width: 100%;
    background-image: url("../../image/profFahmi.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.bg-zata {
    height: 500px;
    width: 100%;
    background-image: url("../../image/zata.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.bg-diajeng {
    height: 500px;
    width: 100%;
    background-image: url("../../image/diajeng.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.bg-aulia {
    height: 500px;
    width: 100%;
    background-image: url("../../image/aulia.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.bg-lala {
    height: 500px;
    width: 100%;
    background-image: url("../../image/lala.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.bg-ilvan {
    height: 500px;
    width: 100%;
    background-image: url("../../image/ilvan.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.bg-resky {
    height: 500px;
    width: 100%;
    background-image: url("../../image/Resky.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.bg-fatimah {
    height: 500px;
    width: 100%;
    background-image: url("../../image/fatimahSyak.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.bg-meyda {
    height: 500px;
    width: 100%;
    background-image: url("../../image/meyda.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.keterangan-pembicara {
    height: 200px;
    width: 100%;
    padding: 15px;
}

@media(max-width: 1000px) {
    .detail-atas {
        flex-direction: column;
    }

    .penyelenggaraan-box {
        margin: 5vh auto;
    }
}

@media(max-width: 600px) {
    .penyelenggaraan-box {
        width: 100%;
    }

    .konten-penyelenggaraan h3 {
        font-size: 20px;
    }

    .konten-penyelenggaraan h6 {
        font-size: 14px;
    }

    .konten-penyelenggaraan p {
        font-size: 14px;
    }

    .list-pembicara {
        flex-direction: column;
    }

    .card-pembicara {
        width: 80%;
        margin: 2vh auto;
    }
}

@media(max-width: 533px){
    /* .card-pembicara{
        width: 110px;
    } */

    .keterangan-pembicara h4{
        font-size: medium;
    }
    
    .keterangan-pembicara h5{
        font-size: small;
    }

}