#root {
  background-color:white;
  color:black;
  font-family: 'Poppins', sans-serif;
}

/* Coming Soon CSS */
.cmsoon {
  max-width: 1200px;
  height: 100vh;
  margin: auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  max-width: 277.5pt;
  max-height: 277.5pt;
  margin: auto;
  margin-top: -100px;
  padding-bottom: 60px;
}

.logo img {
  width: 100%;
  display: block;
  margin: auto;
}

.cmsoon h1 {
  margin-top: -100px;
  text-align: center;
  color: #262626;
  font-size: 24pt;
}

.cmsoon h4, .cmsoon h5 {
  text-align: center;
  color: #262626;
  font-size: 12pt;
  font-weight: 500;
}

.preview-text h4{
  width: 70%;
  margin: auto;
}

.medsos {
  display: flex;
  flex-direction: row;
  order: 3;
  margin: auto;
  width: 150px;
}

.medsos a {
  display: flex;
  margin: auto;
}

.medsos img {
  margin: auto;
}

/* @media screen and (max-width: 960px) {
  .navbar {
    position: relative;
    border-bottom: 1px black solid;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    height: 80px;
  }

  .resp {
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-link {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-link:hover{
    text-decoration: underline;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%,50%);
  }

  .menu-icon{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%,60%);
    font-size: 16px;
    cursor: pointer;
  }
} */
