h1 {
    font-size: 52pt;
    font-weight: bold;
    margin-bottom: 30px;
}

#cont-banner{
    background-image: url("../../image/background-cerpen.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#deskripsi-banner{
    width: 60%;
    text-align: center;
    margin: auto;
}

#cont-timeline{
}

#hadiah{
    margin-top: 40%;
}

.slide > .row{
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.slide > .row > .col-auto {
    display: inline-block;
  }

.card-box {
    margin: 25px;
    width: 300px;
    height: 300px;
    background-color: #F9F9F9;
    box-shadow: 0 5px 0 0 rgba(134, 113, 113, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
}

@media(max-width: 1001px) {
    #deskripsi-banner{
        width: 100%;
    }

    #cont-banner p{
        text-align: center;
    }
}

@media(max-width: 859px) {
    #hadiah{
        margin-top: 0;
    }
}

@media(max-width: 412px) {
    #yukmenang {
        text-align: center !important;
    }
}