<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet'>
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Quicksand;
}

/* Style the header */
header {
  background-color: #F1F9FF;
  padding: 10px;
  text-align: center;
  font-size: 35px;
  color: #606060;
  font-family: Quicksand;
}


article {
  float: left;
  padding: 20px;
  width: 100%;
  background-color: #f1f1f1;

}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
</style>
</head>
<body>

<header>
  <h2>6th UI Islamic Book Fair</h2>
  <img src="https://www.uiibf.com/staticfiles/Header.jpg" alt="Logo 6th UIIBF">
</header>


  <article>
    <h1>Dear {{ nama_lengkap }},</h1>

	<p>Assalamualaikum Warahmatullahi Wabarakatuh.
	<p>Terima kasih ya telah mendaftar acara bedah buku Kak Alvi Syahrin yang diselenggarakan oleh 6th UI IIBF. Kami berusaha semaksimal mungkin memberikan yang terbaik untuk teman-teman.

    <p>Kami juga mengundang teman-teman untuk turut bergabung dalam rangkaian agenda Grand Opening UIIBF dengan detail sebagai berikut:

<table style="margin-left:32px">
<tr><td valign="top"><strong>hari dan tanggal</strong></td><td valign="top">:</td><td valign="top"><strong> Minggu, 6 Desember 2020</strong></td></tr>
<tr><td valign="top">pukul 08.30 s/d 10.00 WIB</td><td valign="top">:</td><td valign="top"><strong>  Grand Opening</strong></td></tr>
<tr><td valign="top">pukul 10.00 s/d 12.30 WIB</td><td valign="top">:</td><td valign="top"><strong> Virtual Exhibition 6th UIIBF </strong></td></tr>
<tr><td valign="top">pukul 12.30 s/d 14.30 WIB</td><td valign="top">:</td><td valign="top"><strong> Bedah Buku </strong></td></tr>

</table>

      <p>Karena antusiasme yang luar biasa dari teman-teman kami akan menyiarkan seluruh acara di atas secara langsung melalui tautan berikut:
      <p style="text-align:center;"><a href="https://docs.google.com/forms/d/e/1FAIpQLSedZ9YeR1He1prycbE637lAd-ipEvfWnw6fMjQ-GSRSM3I-rg/closedform"><strong>bit.ly/dayoneuiibf6</strong></a></p>


 <p style="text-align:center;"> <i>Tautan ini baru dapat diakses mulai hari Minggu 6 Desember 2020 pukul 8.00 WIB</i>

 <p>Nah, sebelum mulai acaranya, untuk kenyamanan bersama, mari baca dan patuhi peraturan berikut yuk :

 <p>Do's
<ol type="1">
<li>Peserta diharapkan memasuki link di atas, 15 menit sebelum acara dimulai.</li>
<li>Peserta boleh menanggapi penyampaian pembicara di kolom chat dengan syarat harus menggunakan kata-kata yang sopan </li>
<li>Peserta dapat memberikan pertanyaan untuk Kak Alvi melalui tautan yang akan diberikan saat acara berlangsung</li>
<li>MC dan panitia akan memilih beberapa pertanyaan untuk disampaikan kepada Pembicara pada sesi Tanya Jawab;</li>
<li>Seluruh peserta wajib mengisi formulir feedback yang diberikan diakhir acara sebagai syarat mendapatkan e-sertifikat</li>
<li>Kesempatan mendapat hadiah diberikan untuk peserta yang membagian momen terbaik selama mengikuti rangkaian acara ini melalui feed atau story instagram dan tag instagram
<a href="https://www.instagram.com/uiibf/"><strong>@uiibf</strong></a> dan
<a href="https://www.instagram.com/alvisyhrn/"><strong>@alvisyhrn</strong></a>
 yaa^^</li>
</ol>

 <p>Don'ts
<ol type="1">
<li>Menyebarluaskan tautan tanpa seizin panita</li>
<li>Tidak memperhatikan materi yang disampaikan</li>
<li>Mengikuti acara sambil tiduran apalagi sampai ketiduran</li>


<p>Sekali lagi, terima kasih yaa atas antusiasme teman-teman!
sampai jumpa di acara!

<p>Salam Hangat,
<p>Panitia 6th UI IBF
<p>Pusat Informasi The 6th UI IBF:
<p><a href="https://api.whatsapp.com/send/?phone=6285156417403&text&app_absent=0"><strong>wa.me/6285156417403 </strong></a></p>
  </article>

</section>

<footer>
<p>Universitas Indonesia 6th Islamic Book Fair
<p>Strive for Ummah's Resiliency Through Literacy
<p>From the World to the Whole World

 <p>LINE: @uiibf | Instagram: @uiibf | Twitter: @uiibf
 <p>Facebook: UI Islamic Book Fair | Email: info.uiibf@gmail.com | Website: www.uiibf.com

  <p></p>
</footer>

</body>
</html>
