<html>
<body>
Dear {{ nama_lengkap }},

<p>Registrasimu telah berhasil!</p>
<p>Kami juga mengucapkan terima kasih ya atas donasimu, Jazakumullahu Khayran.</p>

<p>Berikut ini detail data registrasimu:</p>
<table style="margin-left:32px">
	<tr><td valign="top">Email</td><td valign="top">:</td><td valign="top">{{ email }}</td></tr>
	<tr><td valign="top">No HP</td><td valign="top">:</td><td valign="top">{{ phone_number }}</td></tr>
	<tr><td valign="top">Infaq pilihan + kode unik</td><td valign="top">:</td><td valign="top">Rp. {{ nominal_bayar }},-</td></tr>
   	<tr><td valign="top">Kategori lomba</td><td valign="top">:</td><td valign="top">{{ nama }}</td></tr>
</table>
<br/>

<p>Supaya tidak ketiggalan informasi, Yuk langsung bergabung ke grup whatsapp UIIBF Championship melalui link dibawah ini ya!
<p>pastikan klik link dan masuk grup  yang sesuai dengan cabang lomba pilihanmu ya!
<p style="text-align:center;"><a href="https://chat.whatsapp.com/GlSH14r0sjB0YPx9ROpBBc"><strong>Join grup UI IBF Drawing Academy</strong></a>.</p>
<p style="text-align:center;"><a href="https://chat.whatsapp.com/IIJZpZ6IhvcI79BVJxoyQR"><strong>Join grup UI IBF in Words</strong></a>.</p>
<p style="text-align:center;"><a href="https://chat.whatsapp.com/J7yREhRs70c3WhZBClRdPp"><strong>Join grup UI IBF in Story</strong></a>.</p>
<p style="text-align:center;"><a href="https://chat.whatsapp.com/G4cTNUdxNYNAiJnvnE2UeH"><strong>Join grup UI IBF Writing Academy</strong></a>.</p>
<p style="text-align:center;"><a href="https://chat.whatsapp.com/GSeI0Ne0x1mFzowrDyRrXs"><strong>Join grup UI IBF Photo Contest</strong></a>.</p>
<p style="text-align:center;"><a href="https://chat.whatsapp.com/Hyn8oOxTGat2QW3V1qYIHJ"><strong>Join grup UI IBF Creative Design</strong></a>.</p>
<p style="text-align:center;"><a href="https://chat.whatsapp.com/Ciaeb6yafzzFA5uaup2Wbm"><strong>Join grup UI IBF Voice</strong></a>.</p>



<p>Pastikan nomor whatsappmu sama dengan nomor HP yang kamu cantumkan saat pendaftaran ya!</p>

<p>Selamat bergabung di UIIBF Championship 2020!</p>
<p>Untuk info acara menarik lainnya,silakan kunjungi instagram kami di  <a href="https://www.instagram.com/uiibf/"> @uiibf</a>.</p>
<p>atau kunjungi website kami di <a href="https://www.uiibf.com/"> uiibf.com</a>.</p>

<table style="margin-left:0px">
    <tr><td valign="top">Salam hangat,</td></tr>
    <tr><td valign="top">Panitia 6th UI Islamic Book Fair 2020</td></tr>
</table>
</body>
</html>