<html>
<body>
	<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=Nn5USSBWA316VZezMvSDD8SfUXtdZEYsTLuOESo43QyciswF3BASxq_mar8WusYnII1RqABa4IMWImKmQFtqKVVBFKmu2oQolowA82tiacyyqW2fr5aSNeFwitcUOJf4MDpp4dCN1jAzK03tZO4Ptm7j3RzhiX1VNqVdTeXV4LQ1sy7EoeAVvJ2V8ZADognaOXGGL8s5H0kvc6btxXqlAuWzIDf5WbX2XHtySuKfamR5MAL2B2Db8J0tWrTYlqKxg2d9VQ-6EVpJ39OoSTrHAGKKLc7KVPofojqrpISW55fdhHjrF_tn4656sHYrRTklTDPBWSoylaOKQrRD6ZKqRQ" charset="UTF-8"></script><script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=Nlh4hi5SK5PtCFK0g0sP0TFpDStA4w43Xf63FIpghECqN-0uU0NKgaJzgQ5wmEaYQ9bvIm-qelnYBezchG6AKTR6KcrJj2WAkEjJdM8ClbG6DuBuk_tk0LuRffyirS_tddwr3Pr0H7ELGa6LdRvla5pq8uITm3ijicwB2MmW0CswAWAMXvjKZzHVeshQThubN1I2NebNrbFI_FcbIiKqcURgRoUcpHyqy2BnPusUY0bn6fAyNcCMhDMVLvPpJoBpF9BANtbHiY7wzfNmYrPJE9Q7f5hmWr9Aa3BAIS3wciajeYvGzpQm5iq2J4q8a5La-UrwfRUiSWZqfyAOo6XLdA" charset="UTF-8"></script>
Dear {{ nama_lengkap }},

<p>Registrasimu telah berhasil!</p>
<p>Selamat datang di acara Workshop UI Islamic Book Fair 2020 dengan pembahasan CV dan Wawancara. Kami juga mengucapkan terima kasih ya atas donasimu, Jazakumullahu Khayran.</p>

<p>Berikut ini detail data registrasimu:</p>
<table style="margin-left:32px">
	<tr><td valign="top">Email</td><td valign="top">:</td><td valign="otp">{{ email }}</td></tr>
	<tr><td valign="top">No HP</td><td valign="top">:</td><td valign="top">{{ phone_number }}</td></tr>
	<tr><td valign="top">Infaq pilihan + kode unik</td><td valign="top">:</td><td valign="top">Rp. {{ nominal_bayar }},-</td></tr>
</table>
<br/>

<p style="text-align:center;"><strong>Yuk, jangan lupa langsung bergabung ke grup karena link zoom akan kami sampaikan melalui grup whatsapp di bawah in yaa!
</strong>.
<p style="text-align:center;"><a href="https://chat.whatsapp.com/DjLdfW7NdVg1DU6lJD27HI"><strong>Join grup</strong></a>
<p style="text-align:center;">atau
<p style="text-align:center;"><a href="https://chat.whatsapp.com/DjLdfW7NdVg1DU6lJD27HI"><strong>https://chat.whatsapp.com/DjLdfW7NdVg1DU6lJD27HI</strong></a>


<p style="text-align:center;">---
<p>Kabar gembira karena sudah mendaftar acara UIIBF, kamu berkesempatan memenangkan <strong>hadiah saldo LinkAja total 2 jt rupiah untuk 8 orang pemenang.</strong>
<p>Caranya gampang banget!

<ol>
<li>Install Aplikasi Link aja di Hpmu</li>
<li>Aktivasi layanan Syariah Link aja. (cara aktivasi ada di tautan pengumpulan screenshoot)</li>
<li>Screen shoot halaman depan aplikasi Linkaja yang telah diaktivasi Layanan Syariah </li>
<li>Kirim melalui  <a href="https://forms.gle/zCEL7AWR5n8DJoqt6/"> tautan ini </a> atau <a href="https://forms.gle/zCEL7AWR5n8DJoqt6/"> https://forms.gle/zCEL7AWR5n8DJoqt6/ </a>  ya!</li>
<br>
</ol>
<p style="text-align:center;">---

<p>Sampai jumpa di Acara UI Islamic Bookfair 2020!</p>
<p>Untuk informasi lebih lanjut,silakan kunjungi instagram kami di  <a href="https://www.instagram.com/uiibf/"> @uiibf</a> atau kunjungi website kami di <a href="https://www.uiibf.com/"> uiibf.com</a>.</p>

<table style="margin-left:0px">
    <tr><td valign="top">Salam hangat,</td></tr>
    <tr><td valign="top">Panitia 6th UI Islamic Book Fair 2020</td></tr>
</table>
</body>
</html>