<html>
<body>
	<script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=4owvBxnmtTKEon3yRjRUa5vLMr8pevTIQBp-0mU1-EQL9lMMlQVVnp7L7JRVCDG24sJ0kBNFJBsAIfvRhwb4VUA5DU_4HzBqpj3nc5wIPC0u0Gi_wFVrzHDEcT9Lm7-Q76S2I7L_UBoc8h3HkLAd-_Ix_3XWotzDKg-htiQ5-sD-tnMHRXFDBKqdYGm_ScB9LhWcy-OO-ghSVxVKtyW-PCSiwTeJ7HC5RyM505aTeYQ1mdbRgAMLeHf_L0x8zzEEZyvCuUZmKxyNyP8eZr-yPoawz7BQ_5pB_rsMYenYUtAsxt8ruViTv1gpuFFF2DEh8v06j0jPqyuXoe5TPeUoZQ" charset="UTF-8"></script><script type="text/javascript" src="https://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=Nlh4hi5SK5PtCFK0g0sP0TFpDStA4w43Xf63FIpghECqN-0uU0NKgaJzgQ5wmEaYQ9bvIm-qelnYBezchG6AKTR6KcrJj2WAkEjJdM8ClbG6DuBuk_tk0LuRffyirS_tddwr3Pr0H7ELGa6LdRvla5pq8uITm3ijicwB2MmW0CswAWAMXvjKZzHVeshQThubN1I2NebNrbFI_FcbIiKqcURgRoUcpHyqy2BnPusUY0bn6fAyNcCMhDMVLvPpJoBpF9BANtbHiY7wzfNmYrPJE9Q7f5hmWr9Aa3BAIS3wciajeYvGzpQm5iq2J4q8a5La-UrwfRUiSWZqfyAOo6XLdA" charset="UTF-8"></script>
Dear {{ nama_lengkap }},

<p>Registrasimu telah berhasil!</p>
<p>Selamat datang di acara Workshop UI Islamic Book Fair 2020 dengan pembahasan Academic Writing. Kami juga mengucapkan terima kasih ya atas donasimu, Jazakumullahu Khayran.</p>

<p>Berikut ini detail data registrasimu:</p>
<table style="margin-left:32px">
	<tr><td valign="top">Email</td><td valign="top">:</td><td valign="otp">{{ email }}</td></tr>
	<tr><td valign="top">No HP</td><td valign="top">:</td><td valign="top">{{ phone_number }}</td></tr>
	<tr><td valign="top">Infaq pilihan + kode unik</td><td valign="top">:</td><td valign="top">Rp. {{ nominal_bayar }},-</td></tr>
</table>
<br/>

<p>Detail dan Link zoom acara akan kami sampaikan melalui gup whatsapp di bawah ini.
<p>Supaya tidak ketiggalan informasi, Yuk langsung bergabung ke grup whatsapp workshop melalui link dibawah ini ya!
<p style="text-align:center;"><a href="https://chat.whatsapp.com/JRMlEY1YFHv9lcX6ZjQvnn"><strong>Join grup workshop Academic Writing</strong></a>.</p>

<p>Selamat bergabung di acara 6th UIIBF 2020!</p>
<p>Untuk info acara menarik lainnya,silakan kunjungi instagram kami di  <a href="https://www.instagram.com/uiibf/"> @uiibf</a>.</p>
<p>atau kunjungi website kami di <a href="https://www.uiibf.com/"> uiibf.com</a>.</p>

<table style="margin-left:0px">
    <tr><td valign="top">Salam hangat,</td></tr>
    <tr><td valign="top">Panitia 6th UI Islamic Book Fair 2020</td></tr>
</table>
</body>
</html>