<html>
<body>
Dear {{ nama_lengkap }},

<p>Registrasimu telah berhasil!</p>
<p>Selamat datang di acara UI Islamic Book Fair 2020. Kami juga mengucapkan terima kasih ya atas donasimu, Jazakumullahu Khayran.</p>

<p>Berikut ini detail data registrasimu:</p>
<table style="margin-left:32px">
	<tr><td valign="top">Email</td><td valign="top">:</td><td valign="top">{{ email }}</td></tr>
	<tr><td valign="top">No HP</td><td valign="top">:</td><td valign="top">{{ phone_number }}</td></tr>
	<tr><td valign="top">Infaq pilihan + kode unik</td><td valign="top">:</td><td valign="top">Rp. {{ nominal_bayar }},-</td></tr>
   	<tr><td valign="top">Kategori Acara</td><td valign="top">:</td><td valign="top">{{ nama }}</td></tr>
</table>
<br/>

<p style="text-align:center;"><strong>Jangan lupa ikutan seminarnya dengan cara klik link dibawah ini ya!
</strong>.
<p style="text-align:center;"><a href="https://forms.gle/nrbC4vBYGPWXMY9WA"><strong>Join Seminar</strong></a>
<p style="text-align:center;">atau
<p style="text-align:center;"><a href="https://forms.gle/nrbC4vBYGPWXMY9WA"><strong>https://forms.gle/nrbC4vBYGPWXMY9WA</strong></a>
<p style="text-align:center;">(Link baru diaktifkan pada Ahad, 27 Desember 2020)

<p style="text-align:center;">---
<p>Kabar gembira karena sudah mendaftar acara UIIBF, kamu berkesempatan memenangkan <strong>hadiah saldo LinkAja total 2 jt rupiah untuk 8 orang pemenang.</strong>
<p>Caranya gampang banget!

<ol>
<li>Install Aplikasi Link aja di Hpmu</li>
<li>Aktivasi layanan Syariah Link aja. (cara aktivasi ada di tautan pengumpulan screenshoot)</li>
<li>Screen shoot halaman depan aplikasi Linkaja yang telah diaktivasi Layanan Syariah </li>
<li>Kirim melalui  <a href="https://forms.gle/zCEL7AWR5n8DJoqt6/"> tautan ini </a> atau <a href="https://forms.gle/zCEL7AWR5n8DJoqt6/"> https://forms.gle/zCEL7AWR5n8DJoqt6/ </a>  ya!</li>
<br>
</ol>
<p style="text-align:center;">---

<p>Sampai jumpa di Acara UI Islamic Bookfair 2020!</p>
<p>Untuk informasi lebih lanjut,silakan kunjungi instagram kami di  <a href="https://www.instagram.com/uiibf/"> @uiibf</a> atau kunjungi website kami di <a href="https://www.uiibf.com/"> uiibf.com</a>.</p>

<table style="margin-left:0px">
    <tr><td valign="top">Salam hangat,</td></tr>
    <tr><td valign="top">Panitia 6th UI Islamic Book Fair 2020</td></tr>
</table>
</body>
</html>