<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Data UI IBF 2020</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <table class="table">
            <thead>
                <tr>
                    {% for header in regis_header %}
                    <th scope="col">{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody id="table_body">
                {% for data in registrasi %}
                    <tr>
                        <td scope="col">{{data.id_regis}}</td>
                        <td scope="col">{{data.registrasi_user.email}}</td>
                        <td scope="col">{{data.registrasi_user.nama_lengkap}}</td>
                        <td scope="col">{{data.tipe}}</td>
                        <td scope="col">{{data.nama}}</td>
                        <td scope="col">{{data.nominal_bayar}}</td>
                        <td scope="col">{{data.status}}</td>
                        <td scope="col"><a href="{{ data.id_split }}/" class="btn btn-success" role="button">Update</a></td>
                        <td scope="col"><a href="delete/{{ data.id_split }}/" class="btn btn-warning" role="button">Delete</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
</body>
</html>